<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace = "com.kafka.administrate.mapper.MemberMapper">
	<resultMap id="userResultMap" type="User">
	  	<id property="id" 		       column="id" />
	  	<result property="pwd"         column="pwd" />
	  	<result property="uDate"       column="uDate" />
	  	<result property="authority"   column="authority" />
	  	<result property="name"        column="name" />
	  	<result property="phoneNumber" column="phone_number" />
	  	<result property="profileId" column="profile_id" />
	</resultMap>
 	
 	<select id="checkId" resultType="boolean">
		SELECT
			DECODE(COUNT(ID), 0 ,'TRUE', 'FALSE') AS RESULT
		FROM
			KAFKA_USER
		WHERE
			ID = #{id}
 	</select>
 	
	<update id="signUpUser">
		MERGE 
			INTO KAFKA_USER A
		USING DUAL
			ON (A.ID = #{id})
		WHEN MATCHED THEN 
			UPDATE 
				SET  A.AUTHORITY = 'U'
					,A.NAME      = #{name}
					,A.PHONE_NUMBER = #{phoneNumber}
					<if test="profileId != null">
						,A.PROFILE_ID = #{profileId}
					</if>
					,A.UDATE = SYSDATE
		WHEN NOT MATCHED THEN 
			INSERT (A.ID,A.PWD,A.UDATE,A.AUTHORITY,A.NAME,A.PHONE_NUMBER,A.PROFILE_ID)
			VALUES (#{id},#{pwd},SYSDATE,'U',#{name},#{phoneNumber},#{profileId})
	</update>
 	
 	<select id="signIn" resultMap="userResultMap">
		 SELECT 
			ID
           ,PWD
           ,UDATE
           ,AUTHORITY
           ,NAME
           ,PHONE_NUMBER
           ,PROFILE_ID
		 FROM
			KAFKA_USER
		 WHERE
			ID = #{id}
			AND PWD = #{pwd}
	 </select>
	 
	 <select id="countChatRoom" resultType="int">
		 SELECT 
			COUNT(*)
		 FROM
			KAFKA_CHAT_ROOM
		 WHERE ID = #{id}
		   AND DEL_YN = 'N'
	 </select>
 </mapper>