<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<meta charset="UTF-8">
<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
	
	<div>
		<div>
			 <div class="mb-3 row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">리더 ID</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="brokerId" th:value="${brokerConfig['broker.id']}">
    			</div>
  			</div>
  			<div class="mb-3 row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">replica 시간 제한</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="brokerId" th:value="${brokerConfig['replica.socket.timeout.ms']}">
    			</div>
  			</div>
  			<div class="mb-3 row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">주키퍼 정보</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="brokerId" th:value="${brokerConfig['zookeeper.connect']}">
    			</div>
  			</div>
  			<div class="mb-3 row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">주키퍼 시간 제한</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="brokerId" th:value="${brokerConfig['zookeeper.session.timeout.ms']}">
    			</div>
  			</div>
  			<div class="mb-3 row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">요청 시간 제한</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="brokerId" th:value="${brokerConfig['request.timeout.ms']}">
    			</div>
  			</div>
  			<div class="mb-3 row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">그룹 최대 크기</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="brokerId" th:value="${brokerConfig['group.max.size']}">
    			</div>
  			</div>
  			<div class="mb-3 row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">isr 최소 개수</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="brokerId" th:value="${brokerConfig['min.insync.replicas']}">
    			</div>
  			</div>
		</div>
	</div>
	
</div>
</html>